<div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExpenseModalLabel">Dodaj nowy wydatek</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addExpenseForm" action="/api/v1/wydatki" method="post">
                    {{ form.hidden_tag() }}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                    <div class="form-group">
                        {{ field.label }} {% if field.flags.required %}*{% endif %}
                        {{ field(class_="form-control")}}
                    </div>
                    {% endfor %}
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Dodaj Wydatek</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>