    <div class="container mt-5">
    <h2 class="text-center mb-4">Lista Wydatków Rodzinnych</h2>
    <div class="text-right mb-3">
        <button class="btn btn-success" data-toggle="modal" data-target="#addExpenseModal">Dodaj nowy wydatek</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Data</th>
                    <th>Kategoria</th>
                    <th>Opis</th>
                    <th>Kwota</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody id="listBody">
            </tbody>
        </table>
    </div>
</div>