<div class="modal fade" id="viewExpenseModal" tabindex="-1" role="dialog" aria-labelledby="viewExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewExpenseModalLabel">Podgląd Wydatku</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Data:</strong> <span id="viewDate"></span></p>
                <p><strong>Kategoria:</strong> <span id="viewCategory"></span></p>
                <p><strong>Opis:</strong> <span id="viewDescription"></span></p>
                <p><strong>Kwota:</strong> <span id="viewAmount"></span> PLN</p>
            </div>
        </div>
    </div>
</div>
